
<div>
  <%= link_to 'New Snippet', new_snippet_path %>
</div>
<div class="flex flex-wrap justify-center">
  <div class="snippet-card bg-gray-200 p-4 rounded-lg shadow-md mx-4 my-4 w-64 h-50 overflow-hidden">
    <h3 class="text-xl font-bold mb-2 truncate flex items-center"><%= @snippet.title %></h3>
    <p class="overflow-hidden text-ellipsis"><%= @snippet.description %></p>
    <pre class="flex language-<%= @snippet.language %>">
      <code class="language-<%= @snippet.language %>"><%= raw @snippet.rendered_code_block %></code>
    </pre>
    <div class="flex justify-end mt-4 space-bewtween">
      <%= link_to 'Show', snippet_path(@snippet), class: 'text-blue-500 underline mr-2' %>
      <%= link_to 'Edit', edit_snippet_path(@snippet), class: 'text-green-500 underline mr-2' %>
      <%= button_to 'Delete', snippet_path(@snippet), method: :delete, data: { confirm: "Are you sure?" }, class: 'text-red-500 underline' %>
    </div>
  </div>
</div>
